<div class="donate">
    <h1>We are an open source organization contributing to the betterment of society at no cost at all. <br>
        However we do appriciate donations and are greatful to those who support us. <br>
        Consider Donating and allow us to keep making the products and ensure the quality and updates to keep up with
        the modern world.</h1>
    <div class="forms">
        <form action="/payment" method="POST">
            <input type="text" name="name" placeholder="Full Name" aria-required="true" class="form-control">
            <input type="email" name="email" placeholder="Email" aria-required="true" class="form-control">
            <input type="text" name="mobile" placeholder="Mobile No." aria-required="true" class="form-control">
            <input type="text" name="amount" placeholder="Amount" aria-required="true" class="form-control">
            <button type="submit" class="btn btn-primary">Donate</button>
        </form>
    </div>
</div>