<div class="products">
    <h1>
        Products
    </h1>
    <p>
        Anti-virus:
        Get instant security against the latest virus,<br>
        Malware and Spyware attacks. Secure your device, Privacy and Identity with our <br>
        Open-Source Anti-virus software. 
    </p>
    <p>
        WAF:
        Our WAF is a cloud-based firewall that stops website hacks and attacks. <br>
        Our constant research improves detection and mitigation of evolving threats
    </p>
    <p>
        Endpoint Security Services:
        Endpoint security is a security measure deploed on company devices to prevent <br>
        cyber attacks, detect malicious activity, provide instant remediation capabilites. <br>
        The security services are multilayered across all platforms <br>
        With different pricing based on the needs.
    </p>
</div>